<div class="column">
    <article class="panel is-info">
        <p class="panel-heading">
            Who to Follow
        </p>
    <% @users.each do |user| %>
    <div class="panel-block">
        <article class="media">
            <div class="media-left">
                <figure class="image is-32x32">
                    <%= gravatar_image_tag(user.email,size: 64, alt: user.name) if user %>
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong><%= link_to user.name,user_path(user) %></strong><br>
                        <small><%= user.username %></small>
                    </p>
                </div>
            </div>
        </article>
    </div>
    <% end %>
</article>
</div>